
<div class="tech-btm">
    <h4>Mail bültenimize abone olmak ister misiniz?</h4>
    <p>Bloglarımızdan mail ile haberdar olun </p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" name="Mail" required="">
        <input type="submit" value="Abone Ol">
    </form>

</div>