
@model IEnumerable<BlogProject.Entity.Concrete.Comment>

<div class="comment-top">
    <h4>Yorumlar</h4>
    @if (Model.Count()==0)
    {
<h5>Hiç yorum yapılmamış. İlk yorumu sen yap :)</h5>
    }
            else { 
    @foreach (var item in Model)
    {
        <div class="media">
            <img src="~/CoreBlogTemplate/images/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">
                <h5 class="mt-0">@item.UserName</h5>
                <p>
                   @item.Content
                </p>
            </div>
        </div>
    }
    }
</div>